# Java/Maven project files
/target/
*.iml
.idea/
.idea_modules/
*.ipr
*.iws

# Python project files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE-specific files (add more as needed)
/.vscode/
/.idea/

# Logs and databases
*.log
*.sqlite